.bgx{
  list-style-type: none;
	background-color: #10B5A5;
	color: #ffff;
	text-align: center;
	width: 60%;
	float: left;
	font-size: 35px;
}

.cc{
  	color: #10B5A5;
    margin-top: 10px;
  }

body {
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px; 
  }
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }

.box{
    background-color: #ffff;
    width: 960px;
    height: 580px;
    opacity: 75%;
    margin: auto;
  }

.desc{
    font-size: 24px;
    color: #ffff;
  }

  .bar{
    width:944px;
    margin:auto;
  }

  .picture{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }

  .text{
    font-size: 24px;
  }

  .forms{
    background-image: url("forms.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 400px;
    height: 450px;
    opacity: 60%;
    margin: auto;
  }

  .container{
    background-color: #aaaa;
    width: 960px;
    height: 40px;
    opacity: 75%;
    margin: auto;
  }

  .cp{
    width:auto;
    height:30px;
    background-color:black;
  }

  .footer{
    text-align: center;
    color: #ffff;
    font-size: 20px;
  }

  .list{
    margin-top: 15px;
  	float: left;
  	list-style-type: none;
  	text-align: right;
  	font-size: 15px;
  	width: 13%;
  }